* {
    box-sizing: border-box;
}

.red {
    color: #f31918;
}

@font-face {
    font-family: 'NT Bau Mono';
    src: url('/fonts/NTBauMono-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'NT Bau Mono';
    src: url('/fonts/NTBauMono-Bold.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'NT Bau Mono';
    src: url('/fonts/NTBauMono-Black.otf');
    font-weight: 700;
}

body {
    margin: 0;
    font-family: 'NT Bau Mono', Arial, sans-serif;
    font-weight: 500;;
    color: #1c1c1c;
    overflow-x: hidden;
}

select {
    appearance: none;
    position: relative;
}

.select-wrapper {
    position: relative;
    display: flex;
}

.select-wrapper::after {
    content: "↓";
    color: white;
    display: block;
    position: absolute;
    align-self: center;
    right: 1.5rem;
    pointer-events: none;
}

.board-container {
    width: 100% !important;
    overflow-x: auto !important;
    transition: opacity 0.2s ease-in-out; /* opcional */
}

.board-container-loading-mask {
    opacity: 0.5;
}

.board-row {
    width: fit-content !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    position: relative;
    gap: 1rem;
}

.header-column > .board-header:first-child {
    background: white;
    z-index: 103;
}

.board-cell {
    position: relative !important;
    width: 200px !important; /* reemplazable */
    text-align: left;
    color: #f31918;
    background: white;
}

.board-cell > h2 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: .875rem;
    max-width: 8em;
    line-height: 150%;
    margin: 0;
}

.row-projects {
    border-bottom: solid 1px #f31918;
    border-bottom-style: dashed;
    padding: 1rem 0;
}

.board-header {
    min-height: 50px !important; /* reemplazable */
    font-size: 10px;
    font-weight: 700;
    position: sticky !important;
    left: 0;
    z-index: 102;
}

@media screen and (max-width: 300px) {
    .board-header {
        position: static;
    }
}

.row-projects > .board-header:after {
    content: "";
    background:white;
    height: 3px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: calc(-1rem - 1px);
}

.board-content {
    height: 135px !important; /* reemplazable */
    font-weight: 500;
}

.empty-cell {
    border: none;
    /* 
    Deshabilita o define estilos 
    para las celdas vacias 
    ...
    */
}

.cell-project {
    position: absolute !important;
    width: 100% !important; /* reemplazable */
    height: 100% !important; /* reemplazable */
    top: 0 !important;
}

.cell-multiproject {
    position: absolute !important;
    width: 70% !important; /* reemplazable */
    height: 70% !important; /* reemplazable */
    font-size: 12px;
}

.cell-multiproject:nth-child(1) {
    right: 0 !important;
    bottom: 0 !important;
}

.cell-multiproject:nth-child(2) {
    right: 15% !important; /* el valor  es igual a  ( 100(%)  menos  .cell-multiproject->width(%) )  dividido entre  2  */
    bottom: 15% !important; /* el valor  es igual a  ( 100(%)  menos  .cell-multiproject->height(%) )  dividido entre  2  */
}

.cell-multiproject:nth-child(n + 3) {
    left: 0 !important;
    top: 0 !important;
}

.cell-counter {
    position: absolute !important;
    font-size: .875rem;
    font-weight: 500;
    text-align: center;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: .5rem;
    right: .5rem;
    background-color: #f31918;
    color: white;
    border-radius: 50px;
    z-index: 101 !important;
}
.cell-project,
.cell-multiproject {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    overflow: hidden !important;
}
.cell-project img,
.cell-multiproject img {
    width: 100% !important;
    cursor: pointer;
}
.cell-project:hover,
.cell-multiproject:hover {
    filter: brightness(0.7);
}

.row-projects > .board-header {
    height: 135px; /* opcional */
}

.active-project {
    z-index: 100;
}
